<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">


<h1 id="title">CPS530 Final Project</h1>
 <h4 id="title"> Nick Barss <br>
   Anson Wong <br> Lucas Gold <br>
   Maria Galsim </h4>


<p id ="par">For our project we decide to use the "React.js" front-end framework, and the "Ruby on Rails" back-end framework. 
<br><br>
<a href="/calculator/new"> Our demo</a> of using react in collaboration with rails. <br>
<a href="/welcome/page2"> Instructions</a> on how to install react and rails <br>
A summary of each framework goes as follows:<p>
  
<h3 id="title"> React.js </h3>

<p id="par"> <a href="https://reactjs.org/">React.js</a> is an incredibly popular javascript framework. According to <a href="https://www.similartech.com/technologies/react-js">Similar Tech</a>, there are 987,693 unique websites using this framework as of today.<br> This includes big names such as:<ul id ="par">
  <li> Yahoo </li>
  <li> BBC </li>
  <li> CNN </li>
  <li> ESPN </li>
  <li> Paypal </li>
</ul>
</p>
<h3 id="par">Pros:</h3> 
<ul id="par"> 
  <li>Easy to learn, especially with prior javascript knowledge </li>
  <li>Eases the complexity of making a dynamic web application </li>
  <li>Modularity: every component you create can be used and referenced in other parts of your program </li>
  <li>Performance and efficiencies by use of Virtual DOM</li>
  <li>Comes with useful developer tools </li>
  <li>SEO friendly</li>
  <li>Huge javascript library in order to supplement your code</li>
  <li>Easy to test, they offer their own native scope</li>
  </ul>
<h3 id="par">Cons:</h3> 
<ul id="par"><li>Constant updates and development may be hard to keep up with</li><li>Documentation is subpar</li><li>Only useful for UI</li></ul>
<p id="par"> React is mostly used for complex web applications, such as social media sites, news sites, streaming sites, and search engines. It's modularity and ease of functionality makes it a gold standard across the tech industry. Now onto the back-end... </p>

  <h3 id="title"> Ruby on Rails </h3>
<p id="par"><a href="https://rubyonrails.org/">Ruby on Rails</a> is a backend (server-sided) framework, primarily used for developing web applications. It follows the Model-view-controller software design pattern.  According to <a href="https://www.similartech.com/technologies/ruby-on-rails">Similar Tech</a> it has 458,230 unique websites with it deployed on their servers.<br> This includes big names such as:<ul id ="par">
  <li> Hulu </li>
  <li> Linkedin Slide Share </li>
  <li> Amazon Prime Video </li>
  <li> Academia.edu </li>
  <li> We Transfer </li>
</ul> </p>
<h3 id="par">Pros:</h3> 
<ul id="par"> <li>Time-saving: comes with lots of built in functions and libraries that can save tons of coding time</li><li>Huge libraries</li><li>Large active community</li><li>Follows and adheres to web standards</li></ul>
<h3 id="par">Cons</h3> 
<ul id="par"> <li>Little flexibility</li><li>Constant updates</li><li>Slow performance time</li></ul>
<p id="par"> Ruby on Rails is primarily used for large corporate applications.</p>
<!-- partial -->
  
